* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    justify-content: center;
}
.sub-wrapper{
    width:80%;
}

.header .sub-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    height: 450px;
    display: flex;
    justify-content: center;
    background: #1f2937;

}
/* NAVBAR STYLING STARTS HERE */
.navbar{
    display: flex;
    padding: 12px;
    font-weight: 400;
    justify-content: flex-start;
    width: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
    gap: 16px;
}

ul a {
    text-decoration: none;
    color: #f9faf8;
    font-weight: 100;

}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

/* NAVBAR STYLING ENDS HERE */

/* SECTION ONE STYLING STARTS HERE */

    /* LEFT SIDE STYLING STARTS HERE */
.first{
    width: 100%;
    display: flex;
    margin-top: 48px;
    padding: 16px;
    gap: 100px;
}

.first .left h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    width: 250px;
}

.first .left p {
    font-size: 18px;
    color: #e5e7eb;
    width: 362px;
}

.first .left button {
    padding: 10px 16px;
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    margin-top: 16px;

}
    /* LEFT SIDE STYLING ENDS HERE */
    /* RIGHT SIDE START*/
.first .right img {
    width: 550px;
    border: 1px solid white;
    border-width: 2px 2px 2px 1px;
    margin-top: -30px;
}

    /* RIGHT SIDE END*/
/* SECTION ONE END */


/* SECTION TWO START */

.second {
    margin-top: 50px;
    text-align: center;
}

.second h1{
    font-size:36px;
    color: #1f2937;
    margin-bottom:50px; 
}

.second .wrapper {
    display: flex;
    padding: 0 70px;
    justify-content: space-between;
    margin-bottom: 120px;

}
.wrapper img {
    width: 200px;
    border: 3px solid #1f2937;
    border-radius: 50%;
}

.wrapper p{
    margin-top: 20px;
    text-align: left;
    width: 200px;
    font-size: 18px;
    color:#1f2937;
    font-weight: 400;
}

/* SECTION TWO END */

/* SECTION THREE START */
.three {
    background-color: #e5e7eb;
    height: 300px;
}

.three .sub-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.three .sub-wrapper div{
    width: 80%;
}
.three .sub-wrapper p{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

#author{
    align-self: end;
    margin-right: 180px;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
}
/* SECTION THREE END */



